NET sw0 LOC = T10 | IOSTANDARD = LVCMOS33;
NET sw1 LOC = T9 | IOSTANDARD = LVCMOS33;
NET select<0> LOC = V9 | IOSTANDARD = LVCMOS33;
NET select<1> LOC = M8 | IOSTANDARD = LVCMOS33;
NET select<2> LOC = N8| IOSTANDARD = LVCMOS33;
NET out LOC = U16 | IOSTANDARD = LVCMOS33;
